<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Bienvenido al Juego del Número Mayor</h1>
        <p>Estoy pensando en un número del 1 al 100... ¡trata de adivinar!</p>
        <form action="/userNum" method="post">
        <p>Ingrese un número: <input type="text" name="numeroUser"></p>
        <p><input type="submit" id="boton" value="Enter"></p>
        </form>
    </div>
</body>
</html>